.st1:hover {
   cursor: pointer;
   /* fill: white; */
   stroke: red;
   stroke-width: 3;
   opacity: 0.3;
}
.st1, .selected {
   cursor: pointer;
   fill: #007bff;
   stroke: yellow;
   stroke-width: 1;
   opacity: 0.3;
}
