<div class="row  animated fadeIn">
   <div class="col-sm-12 col-md-5">
      <h2 class="mb-3">Miembros Superiores</h2>

      <div class="list-group">
         <a [routerLink]="['/resonancias/hombro']" class="list-group-item list-group-item-action">Hombro</a>
         <a [routerLink]="['/resonancias/brazo']" class="list-group-item list-group-item-action">Brazo</a>
         <a [routerLink]="['/resonancias/codo']" class="list-group-item list-group-item-action">Codo</a>
         <a [routerLink]="['/resonancias/antebrazo']" class="list-group-item list-group-item-action">Antebrazo</a>
         <a [routerLink]="['/resonancias/mano']" class="list-group-item list-group-item-action">Mano</a>
      </div>

   </div>
   <div class="col-sm-12 offset-md-1 col-md-5">
      <h2 class="mb-3">Miembros Inferiores</h2>
      <div class="list-group">
         <a [routerLink]="['/resonancias/sacroglutea']" class="list-group-item list-group-item-action">Sacroglútea</a>
         <a [routerLink]="['/resonancias/muslo']" class="list-group-item list-group-item-action">Muslo</a>
         <a [routerLink]="['/resonancias/rodilla']" class="list-group-item list-group-item-action">Rodilla</a>
         <a [routerLink]="['/resonancias/tobillo']" class="list-group-item list-group-item-action">Tobillo</a>
         <a [routerLink]="['/resonancias/pie']" class="list-group-item list-group-item-action">Pie</a>
      </div>
   </div>
</div>
