<div class="jumbotron animated fadeIn fast">
   <h1 class="display-4">Bienvenido Radiología Unimag</h1>
   <p class="lead">Una plataforma iteractiva que te permite aprender radiologia de una forma facil.</p>
   <hr class="my-4">
   <div class="text-center">
      <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/radiografias']">Ver Radiografías</a>
   </div>
</div>

<div class="row  animated fadeIn">
   <div class="col-sm-12 col-md-5">
      <h2 class="mb-3">Miembros Superiores</h2>

      <div class="list-group">
         <a href="#" class="list-group-item list-group-item-action">Hombro</a>
         <a href="#" class="list-group-item list-group-item-action">Brazo</a>
         <a href="#" class="list-group-item list-group-item-action">Codo</a>
         <a href="#" class="list-group-item list-group-item-action">Antebrazo</a>
         <a href="#" class="list-group-item list-group-item-action">Muñeca</a>
         <a href="#" class="list-group-item list-group-item-action">Mano</a>
      </div>

   </div>
   <div class="col-sm-12 offset-md-1 col-md-5">
      <h2 class="mb-3">Miembros Inferiores</h2>
      <div class="list-group">
         <a href="#" class="list-group-item list-group-item-action">Sacroglútea</a>
         <a href="#" class="list-group-item list-group-item-action">Muslo</a>
         <a href="#" class="list-group-item list-group-item-action">Rodilla</a>
         <a href="#" class="list-group-item list-group-item-action">Pierna</a>
         <a href="#" class="list-group-item list-group-item-action">Tobillo</a>
         <a href="#" class="list-group-item list-group-item-action">Pie</a>
      </div>
   </div>
</div>
