.parte:hover {
   cursor: pointer;
   /* fill: white; */
   stroke: red;
   stroke-width: 4;
   opacity: 0.3;
}
.parte.selected {
   cursor: pointer;
   fill: #007bff;
   /* fill: white; */
   stroke: yellow;
   stroke-width: 3;
   opacity: 0.3;
}
